# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
~/.fixter/
.pytest_cache/
htmlcov/
.coverage
coverage.xml
*.cover


extract.py
test.py
.env